.navbar {
  margin: 0 auto; 
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 17px; 
  background-size: 100px 100px;
}
.nav-container {
  position: relative;
  margin: 0 auto;
  height: 44px;
  background: rgb(51,59,72);
  padding: 0px;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar  li {
  margin: 0;
  float: left;
  list-style-type: none;
}
.navlink-style1  {
  color: white;
  text-decoration: none;
  padding: 11px 18px;
  display: block;
  height: 22px;
}
.navlink-style2  {
  color: #6CC1D0;
  text-decoration: none;
  padding: 11px 18px;
  display: block;
  height: 22px;
}
.navlink-style1:hover {
  background: rgb(36,65,86);
  background: rgb(74,86,106);
}
.navlink-style2:hover {
  background: rgb(36,65,86);
  background: rgb(74,86,106);
}
.drop-down {
  position: absolute;
  z-index: 99;
}
.drop-down  a {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: rgb(32,57,76);
  display: block;
  text-align: left;
  padding: 10px 18px;
  background: rgb(36,65,86);
  background: rgb(74,86,106);
  min-width: 150px;
  text-decoration: none;
  color: white;
}
.drop-down  a:hover {
  background: rgb(89,103,127);
}


  
  
  
